<header>
  <h1 class="headfont"> {{ page.title }} </h1>
  <h2 class="headfont"> {{ page.h2 }} </h2>
</header>
<div class="navbar" id="navbar">
    <div class="center" style="width:570px">
      <div class="gallery">
          <a href="/">
            <img src="/images/stem/Home.png" alt="Home" width="40" height="40">
          </a>
      </div>
      
      <div class="gallery dropdown">
        <a href="/stem/science">
          <img src="/images/stem/Sci.png" alt="S" width="40" height="40">
        </a>
        <div class="dropdown-content">
          <a href="/stem/science">Science</a>
        </div>          
      </div>
        
      <div class="gallery dropdown">
        <a href="/stem/technology">
          <img src="/images/stem/Tech.png" alt="T" width="40" height="40">
        </a>
        <div class="dropdown-content">
          <a href="/stem/technology">Technology</a>
          <a href="/technology/logic">Logic Puzzles</a>
          <a href="/technology/blockprogram">Block Programming</a>
        </div>
      </div>
      
      <div class="gallery dropdown">
        <a href="/stem/engineering">
          <img src="/images/stem/Engg.png" alt="E" width="40" height="40">
        </a>
        <div class="dropdown-content">
          <a href="/stem/engineering">Engineering</a>
          <a href="/engineering/electronics">Electronics</a>
          <a href="/engineering/robotics">Robotics</a>
          <a href="/engineering/robocompetitions">Robotics Competitions</a>
        </div>
      </div>
      
      <div class="gallery dropdown">
        <a href="/stem/mathematics">
          <img src="/images/stem/Math.png" alt="M" width="40" height="40">
        </a>
        <div class="dropdown-content"> 
          <a href="/stem/mathematics">Mathematics</a>
          <a href="/mathematics/mathcompetitions">Math Competitions</a>    
        </div>
      </div>
      
      <div class="gallery">
          <a href="/stem/careers">
            <img src="/images/stem/Career.jpg" alt="Career" width="40" height="40">
          </a>
      </div>
      
      <div class="gallery">
          <a href="/stem/about">
            <img src="/images/stem/About.jpg" alt="About" width="40" height="40">
          </a>
      </div>
    </div>
  </div>

  <!-- Put some padding before the body begins -->
  <div style="padding:20px"></div>