<header>
  <h1 class="headfont"> {{ page.h1 }} </h1>
  <h2 class="headfont"> {{ page.h2 }} </h2>
</header>
<div class="navbar">
    <!--div style="padding-left:250px; position:relative; width:700px;"-->
    <div class="center" style="width:560px"> <!-- NOT WORKING TODO -->
      <div class="gallery">
          <a href="/">
            <img src="/assets/images/Home.png" alt="Home" width="40" height="40">
          </a>
      </div>
      
      <div class="gallery">
          <a href="/f/science">
            <img src="/assets/images/Sci.jpg" alt="Science" width="40" height="40">
          </a>
      </div>
        
      <div class="gallery">
          <a href="/f/technology">
            <img src="/assets/images/Tech.jpg" alt="Home" width="40" height="40">
          </a>
      </div>
      
      <div class="gallery">
          <a href="/f/engineering">
            <img src="/assets/images/Engg.jpg" alt="Home" width="40" height="40">
          </a>
      </div>
      
      <div class="gallery">
          <a href="/f/mathematics">
            <img src="/assets/images/Math.jpg" alt="Home" width="40" height="40">
          </a>
      </div>
      
      <div class="gallery">
          <a href="/f/careers">
            <img src="/assets/images/Career.png" alt="Home" width="40" height="40">
          </a>
      </div>
      
      <div class="gallery">
          <a href="/f/about">
            <img src="/assets/images/About.jpg" alt="Home" width="40" height="40">
          </a>
      </div>
    </div>
  </div>
