<header>
  <h1 class="headfont"> {{ page.h1 }} </h1>
  <h2 class="headfont"> {{ page.h2 }} </h2>
</header>
<div class="navbar">
    <div class="center" style="width:530px">
      <div class="gallery">
          <a href="/">
            <img src="/images/stem/Home.png" alt="Home" width="40" height="40">
          </a>
      </div>
      
      <div class="gallery">
          <a href="/stem/science">
            <img src="/images/stem/Sci.png" alt="S" width="40" height="40">
          </a>
      </div>
        
      <div class="gallery dropdown">
          <img src="/images/stem/Tech.png" alt="T" width="40" height="40">
          <div class="dropdown-content">
            <a href="/stem/technology">Introduction</a>
            <a href="/technology/logic">Logic Puzzles</a>
            <a href="/technology/blockprogram">Block Programming</a>
          </div>
      </div>
      
      <div class="gallery dropdown">
            <img src="/images/stem/Engg.png" alt="E" width="40" height="40">
            <div class="dropdown-content">
              <a href="/stem/engineering">Introduction</a>
              <a href="/engineering/electronics">Electronics</a>
              <a href="/engineering/robotics">Robotics</a>
              <a href="/engineering/robocompetitions">Robotics Competitions</a>
            </div>
      </div>
      
      <div class="gallery">
          <a href="/stem/mathematics">
            <img src="/images/stem/Math.png" alt="M" width="40" height="40">
          </a>
      </div>
      
      <div class="gallery">
          <a href="/stem/careers">
            <img src="/images/stem/Career.jpg" alt="Career" width="40" height="40">
          </a>
      </div>
      
      <div class="gallery">
          <a href="/stem/about">
            <img src="/images/stem/About.jpg" alt="About" width="40" height="40">
          </a>
      </div>
    </div>
  </div>
  <div class="license">
    Images
    <a href="https://creativecommons.org/licenses/by/3.0/" target="_blank"> licensed</a>/adapted from 
    <a href="https://thenounproject.com" target="_blank">The Noun Project</a>:
    (<a href="https://thenounproject.com/search/?q=home&i=2522597" target="_blank">image</a> 
     by <a href="https://thenounproject.com/taqiyyahmubassyaroh/" target="_blank">Taqiyyah</a>,
    <a href="https://thenounproject.com/search/?q=tech&i=1620592" target="_blank">image</a>
     by <a href="https://thenounproject.com/yurr/collection/water-authority/" target="_blank">Yurr</a>,
    <a href="https://thenounproject.com/search/?q=gear&i=1030299" target="_blank">image</a>
    by <a href="https://thenounproject.com/pedrosantospt3/" target="_blank">Pedro Santos</a>,
    <a href="https://thenounproject.com/search/?q=pie+chart&i=2784961" target="_blank">image</a>
    by <a href="https://thenounproject.com/sriulan711/" target="_blank">Sriulan</a>,
    <a href="https://thenounproject.com/search/?q=graph&i=2713703" target="_blank">image</a>
    by <a href="https://thenounproject.com/sholawatnariyah12/" target="_blank">Sholawat Nariyah</a>,
    <a href="https://thenounproject.com/term/career-advancement/1267925/" target="_blank">image</a>
     by <a href="https://thenounproject.com/iconika/" target="_blank">Iconika</a>  
    )  
  </div>

  <!-- Put some padding before the body begins -->
  <div style="padding:20px"></div>